.wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-between;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    max-width: 500px;
    width: 100%;
    padding: 30px 30px 60px;
    margin: 0 15px 30px;
    border: 2px solid rgb(109, 109, 109);
    background-color: #ffffff;
    border-radius: 5px;
}
.card_image {
    max-width: 300px;
    max-height: 300px;
}
.card_button {
    padding: 15px 20px;
    border: none;
    background-color: rgb(207, 207, 207);
    border-radius: 30px;
}
